* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

h1{
  font-weight: 600;
}

.header {
  z-index: 1;
}

.header .container {
  margin-top: 30px;
}

.header .navbar {
  flex-wrap: nowrap;
}

.header .navbar .navbar-brand {
  font-size: 40px;
  font-weight: 700;
}

.header .navbar form input {
  padding: 10px 40px 10px 20px;
  outline-offset: 0px;
}

.header .navbar form i {
  position: relative;
  top: 13px;
  right: 35px;
}

.header .dropdown-toggle::after {
  display: none;
}

.header .btn:focus{
  box-shadow: none;
}

.header .dropdown-menu.show{
  background-color: transparent;
  border: 2px solid #fff;
}

.header .dropdown-item:active{
  background-color: transparent;
  font-weight: 700;
}

.header .dropdown-item{
  color: #fff;
  font-weight: 600;
}

.header .dropdown-item:hover{
  color: #ff6600;
}

.carousel {
  background-image: linear-gradient(
      to right,
      rgba(255,102,0,1),
      rgba(255,102,0,0.05)
    ),
    url(../img-Home/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
  color: #fff;

}

.carousel .container {
  padding-top: 200px;
}

.carousel .container .col h1{
  font-size: 60px;
}

.carousel .container .col button {
  background: none;
 
}

.carousel .container .col button:hover{
    background-color: #fff;
    color: #ff6600 !important;
    transition: 0.3s linear
}

.about .container{
    padding: 100px 0 100px;
}

.about .row .item-left span{
    font-family: 'Pacifico', cursive;
    color: #ff6600;
    font-weight: 400;
    font-size: 20px;
}

.about .row .item-right{
    font-size: 18px;
    color: rgba(22, 28, 45, 0.7);
}

.intro .intro-left{
  width: 50%;
  background-image: url(../img-Home/banner3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.intro .intro-left::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.intro .intro-right{
  background-color: #ff6600;
  padding: 100px 60px;
}

.intro .intro-right .item h2{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 20px;
}


.intro .intro-right p{
  font-size: 18px;
}

.intro .intro-right .best i{
  width: 70px;
  height: 70px;
  background-color: #fff;
  color: #ff6600;
  line-height: 70px;
    text-align: center;
    font-size: 25px;
    transition: 0.3s linear;
}

.intro .intro-right .best-left:hover i,
.intro .intro-right .best-right:hover i{
  color: #ffc600;
}

.intro .intro-right .best a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.menu{
  background-color: #f7f7f7;
}

.menu .container{
  padding: 100px 0;
}

.menu .main .row .col{
  width: calc(100% / 3);
  padding: 0 15px;
  margin-bottom: 30px;
  flex: auto;
  position: relative;
}

.menu .main .row .col .item{
  position: relative;
}

.menu .main .row .col .item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.1), transparent);
}

.menu .main .row .col .item img{
  width: 100%;
  display: block;
  border-radius: 5px;

}

.menu .title span{
  font-family: 'Pacifico', cursive;
  color: #ff6600;
  font-size: 20px
}

.menu .main .row .col .text{
  position: absolute;
  bottom: 0;
  left: 15px;
  font-weight: 600;
  font-size: 22px;
}