* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-weight: 600;
}

.header {
  z-index: 1;
}

.header .container {
  margin-top: 30px;
}

.header .navbar {
  flex-wrap: nowrap;
}

.header .navbar .navbar-brand {
  font-size: 40px;
  font-weight: 700;
}

.header .navbar form input {
  padding: 10px 40px 10px 20px;
  outline-offset: 0px;
}

.header .navbar form i {
  position: relative;
  top: 13px;
  right: 35px;
}

.header .dropdown-toggle::after {
  display: none;
}

.header .btn:focus {
  box-shadow: none;
}

.header .dropdown-menu.show {
  background-color: transparent;
  border: 2px solid #fff;
}

.header .dropdown-item:active {
  background-color: transparent;
  font-weight: 700;
}

.header .dropdown-item {
  color: #fff;
  font-weight: 600;
}

.header .dropdown-item:hover {
  color: #ff6600;
}

.carousel {
  background-image: linear-gradient(
      to right,
      rgba(255, 102, 0, 1),
      rgba(255, 102, 0, 0.05)
    ),
    url(../img-Home/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
  color: #fff;
}

.carousel .container {
  padding-top: 200px;
}

.carousel .container .col h1 {
  font-size: 60px;
}

.carousel .container .col button {
  background: none;
}

.carousel .container .col button:hover {
  background-color: #fff;
  color: #ff6600 !important;
  transition: 0.3s linear;
}

.about .container {
  padding: 100px 0 100px;
}

.about .row .item-left span {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-weight: 400;
  font-size: 20px;
}

.about .row .item-right {
  font-size: 18px;
  color: rgba(22, 28, 45, 0.7);
}

.intro .intro-left {
  width: 50%;
  background-image: url(../img-Home/banner3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.intro .intro-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro .intro-right {
  background-color: #ff6600;
  padding: 100px 60px;
}

.intro .intro-right .item h2 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 20px;
}

.intro .intro-right p {
  font-size: 18px;
}

.intro .intro-right .best i {
  width: 70px;
  height: 70px;
  background-color: #fff;
  color: #ff6600;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  transition: 0.3s linear;
}

.intro .intro-right .best-left:hover i,
.intro .intro-right .best-right:hover i {
  color: #ffc600;
}

.intro .intro-right .best a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.menu {
  background-color: #f7f7f7;
}

.menu .container {
  padding: 100px 0;
}

.menu .main .row .col {
  width: calc(100% / 3);
  padding: 0 15px;
  margin-bottom: 30px;
  flex: auto;
  position: relative;
  transition: 0.3s linear;
}

.menu .main .row .col .item {
  position: relative;
}

.menu .main .row .col .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.1),
    transparent
  );
  border-radius: 5px;
}

.menu .main .row .col .item img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.menu .title span {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-size: 20px;
}

.menu .main .row .col .text {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-weight: 600;
  font-size: 22px;
}

.menu .main .row .col:hover {
  filter: contrast(75%);
  cursor: pointer;
}

.option .row .item {
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.option .row .item-top .left i {
  width: 65px;
  height: 65px;
  color: #ff6600;
  background-color: #f9f8ff;
  border-radius: 10px;
  line-height: 65px;
  transition: 0.3s ease-in-out;
}

.option .row .item-top .right h1 {
  font-size: 25px;
  font-weight: 700;
}

.option .row .item-btm {
  font-size: 17px;
  color: rgb(22, 28, 45, 0.7);
}

.option .row .item:hover i {
  color: #fff;
  background-color: #ff6600;
}

.option .row .item:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2) !important;
}

.option .row .item a:hover {
  color: #ff6600;
}

.carousel-2 {
  background-image: url(../img-Home/banner2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0 180px;
  position: relative;
  z-index: 1;
}

.carousel-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.carousel-2 .item {
  margin: 0 auto;
  max-width: 700px;
}

.carousel-2 .item h1 {
  font-size: 45px;
}

.carousel-2 #button-right {
  background-color: #ff6600;
  border: 1px solid transparent;
}

.carousel-2 #button-left:hover {
  background-color: #fff !important;
  color: #ff6600 !important;
  transition: 0.3s linear;
}

.carousel-2 #button-right:hover {
  opacity: 0.8;
  transition: 0.3s linear;
}

.numberCount .container {
  position: relative;
  bottom: 70px;
  z-index: 2;
}

.numberCount .row .item {
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.numberCount .row .item:hover {
  transform: translateY(-5px);
  transition: 0.3s linear;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.numberCount .row .item i {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ff6600;
  line-height: 70px;
}

.numberCount .row .item span {
  color: rgba(22, 28, 45, 0.7);
  font-weight: 600;
}

.video .img {
  background: url(../img-Home/banner3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 450px;
}

.video .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.video .img .item {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video .img .item .border {
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation-name: zoom;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

.video .img .item .border i {
  color: #ff6600;
  line-height: 70px;
  font-size: 25px;
}

.video .img .item .border:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
  background-color: #ff6600;
  border: 1px solid transparent !important;
}

.video .img .item .border:hover i {
  color: #fff;
}

.mfp-hide {
  display: none !important;
}

iframe {
  border-radius: 10px;
  width: 100%;
  height: 420px;
  display: block;
}

.mfp-content .mfp-close {
  color: #fff;
}

.blog {
  background-color: #f7f7f7;
}

.blog .container header span {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-weight: 400;
  font-size: 20px;
}

.blog .container .card {
  border: none;
  background-color: #f7f7f7;
}

.blog .container .card a .img {
  position: relative;
}

.blog .container .card .cover {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.blog .container .card .cover span {
  background-color: #ff6600;
  font-weight: 700;
  font-size: 13px;
}

.blog .container .card .card-body .card-text {
  font-size: 18px;
  color: rgb(22, 28, 45, 0.7);
}

.blog .container .card .card-body .left img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.blog .container .card a:hover{
  color: #000;
}

.blog .container .card .card-body:hover{
  cursor: pointer;
} 

.blog .container .card .card-body .right{
  line-height: 38px;
}

.blog .container .card .card-body .right:hover{
  color: #ff6600;
}

.customer .container header span{
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-weight: 400;
  font-size: 20px;
}

.customer .container .item img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px auto;
  cursor: pointer;
}

.customer .container .item p{
  font-size: 18px;
  padding-top: 20px;
  color: rgb(22, 28, 45, 0.7)
}

.customer .owl-dots{
  margin-top: 0;
}

.customer .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: #ff6600;
}

@keyframes zoom {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
