* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }
  .header {
    z-index: 100;
  }
  .header .container {
    margin-top: 30px;
  }
  
  .header .navbar {
    flex-wrap: nowrap;
    color: beige;
  }
  
  .header .navbar .navbar-brand {
    font-size: 40px;
  }
  
  .header .navbar form input {
    padding: 10px 20px;
    outline-offset: 0px;
  }
  .header .navbar form i {
    position: relative;
    top: 13px;
    right: 35px;
  }
  
  .header .dropdown-toggle::after {
    display: none;
  }

  .header .btn:focus {
    box-shadow: none;
  }
  
  .header .dropdown-menu.show {
    background-color: transparent;
    border: 2px solid #fff;
  }
  
  .header .dropdown-item:active {
    background-color: transparent;
    font-weight: 700;
  }
  
  .header .dropdown-item {
    color: #fff;
    font-weight: 600;
  }
  
  .header .dropdown-item:hover {
    color: #ff6600;
  }
  
  .carousel {
    background-image: linear-gradient(
      to right,
      rgb(238, 111, 45),
      rgba(0, 0, 0, 0.85)
    ),
    url(./../contact-img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 360px;
  color: #fff;
  }
  .carousel .carousel-text {
    position: absolute;
    right: 46.5%;
    top: 50%;
    font-size: 20px;
  }
  .carousel .carousel-text i,
  .carousel .carousel-text b {
    color: white;
  }
  .carousel .carousel-text a b {
    color: #ee6f2d;
  }
  .portfolio .port-head {
    text-align: center;
    padding-top:30px;
  }
  .portfolio .port-head h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color:#ff5900;
    display: block;
    font-family: 'Pacifico', cursive;

  }
.portfolio .port-body .container .row {
  display: flex;

}
.portfolio .port-body .container .row .col-lg-4 input {
  height: 50px;
  background-color: #f8f8f8;
  border-color: transparent;
}
.portfolio .port-body .container .row .col-lg-4 input:focus {
  outline: none !important;
    border-color: #ee6f2d;
    background-color: white;
    box-shadow: none;
}
.portfolio .port-body {
  width: 68%;
  margin-left: 16%;
}
.portfolio .port-body .container .row .col-lg-3 , .portfolio .port-body .container .row .col-lg-9{

  float: left;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.portfolio .port-body .container .row .col-lg-3 {
  font-size: 20px;
}
.portfolio .port-body .container .row .col-lg-3 h2 {
  font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color:#ff5900;
    display: block;
    font-family: 'Pacifico', cursive;
}
.portfolio .port-body .container .row .col-lg-3 .phone-number ,
.portfolio .port-body .container .row .col-lg-3 .address-email,
.portfolio .port-body .container .row .col-lg-3 .office-address {
  display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 20px;
   padding-bottom: 20px;
}

.portfolio .port-body .container .row .col-lg-3 .icon-left {
 text-align: center;
}
.portfolio .port-body .container .row .col-lg-3 .icon-left i {
  color: #fd5900;
}
.portfolio .port-body .container .row .col-lg-3 a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.portfolio .port-body .container .row .col-lg-3 a:hover {
  text-decoration: underline;
}
.portfolio .port-head {
  margin-top: 70px;
}
.portfolio .port-head p {
 padding-top: 25px;
 padding-bottom: 40px;
 font-size: 20px;
}

.button {
    margin-left: 82.2%;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    color: white;
    background-color: #fd5900;
    border-color: transparent;
    margin-bottom: 100px;
  }
  .button:hover {
    background-color: #fa9965;
  }
  .message {
    padding-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    

  }
  .message textarea{
    width: 100%;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-radius: 8px;
  }
  .message textarea:focus {
    outline: none !important;
    border-color: #fd5900;
    border-radius: 8px;
    background-color: white;
  }
  











.icon {
    background-color: #0e1325;
    width: 90px;
    height: 350px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    top: 80px;
    right: 0px;
  }
  .icon a {
    text-decoration: none;
    color: #9095a7;
  }
  .icon i {
    padding-top: 30px;
  }
  
  .footer {
    background-color: black;
    height: 500px;
    width: 100%;
    padding-top: 6%;
  }
  .footer .row {
    margin-left: 15%;
    margin-right: 15%;
  }
  .footer .row h1 {
    color: white;
    font-size: 25px;
    padding-bottom: 30px;
  }
  .footer .row p {
    color: #a5a2a1;
  }
  .footer .row a {
    text-decoration: none;
    color: #9095a7;
  }
  .footer .row a:hover {
    color: #ee6f2d;
  }
  .footer .row .col-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer .row .col-2 a {
    display: block;
    padding-top: 7%;
  }
  .footer .row .col-4 a {
    padding-left: 10px;
  }
  .footer .row .col-4 i {
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    color: #ee6f2d;
    padding-top: 3.5%;
    border-radius: 5px;
  }
  .footer .row .col-4 i:hover {
    background-color: #ee6f2d;
    color: white;
  }
  .footer .row .col-4 input {
    margin-top: 20px;
    padding-left: 20px;
    border-color: transparent;
  }
  .footer .row .col-4 button {
    margin-top: 20px;
    width: 360px;
    height: 50px;
    border-radius: 12px;
    color: white;
    background-color: #ee6f2d;
    border-color: transparent;
  }
  .footer .row .col-4 button:hover {
    background-color: #bf5924;
  }
  .footer .row .copy-right {
    display: flex;
    margin-top: 50px;
    padding-left: 12px;
  }
  .footer .row .copy-right .col-4 {
    padding-left: 12px;
  }
  .footer .row .copy-right .col-8 p a {
    color: #ee6f2d;
  }
  .footer .row .copy-right .col-8 p a:hover {
    color: white;
  }
  .clear-both {
    clear: both;
  }
  .video  img{
    width: 900px;
    height: 450px;
    margin-left: 25%;
  }